:root {
  --hero-color: #e0ebeb;
  --heading-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Roboto Condensed", sans-serif;
  --default-font-family: "Open Sans Condensed", sans-serif;
}

body {
  background-color: FFFF;
  font-size: larger;
}

h1 {
  text-align: center;
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--default-font-family);
}
img {
  padding-left: 10px;
  width: 400px;
}
footer {
  text-align: center;
  font-size: 40px;
}
.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 110px 20px;
  margin: 50px;
  margin-top: 100px;
}

.hero h2 {
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-weight: bolder;
}
.btn-secondary {
  font-family: var(--default-font-family);
  background-color: #352f44;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn-light {
  font-family: var(--default-font-family);
  background-color: #dbd8e3;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.logo{
    max-width: 40px;
}
.logo-hero{
    max-width: 60px;
}

.navbar-nav {
    margin-left: auto;
    font-family: var(--default-font-family);
    font-weight: bold;
}
.navbar-brand {
    font-family: var(--heading-font-family);
    }

.img-fluid {
  width: 60%;
  height: auto;
  border-radius: 4px;
 

}
.agrofuture-description h2{
  font-family: var(--secondary-font-family);
  font-weight: bold;
  text-align: center;
  
}
  .agrofuture-description p{
    text-align: center;
    justify-content: center;
  }

   .agrofuture-description p{
    text-align: left;
        padding: 0;
  }

  .agrofuture-description h3{
    font-family: var(--secondary-font-family);
    text-align: left;
    font-size: larger;
      
  }

  .about-page-footer{
    margin-top: 50px;
  }

  .buttons{
    text-align: center;
    margin-top: 50px;
  }
  

  .button-about{
    text-align: center;
      }
     
  .list{
    text-align: left;
    font-family: var(--default-font-family);
     }
  
@media (max-width: 960px) {
  .container {
    text-align: center;
  }
}

@media (max-width:570px){
 footer{
     margin-top: 100px;
 }
}